a:hover {
    text-decoration-color: red;
    color: blueviolet;
}



.cat {
    width: 450px;

}

.splide__slide img {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: solid;
    margin: 50px

}

.splide__track {
    width: 100%;

}


div p {
    font-size: 22px;
    color: red;
    padding: 20px;
    margin: 50px;
    border: 3px ridge blueviolet;
}

footer {
    font-size: 30px;
    padding: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer p {
    font-size: 11px;
    font-style: italic;
    color: black;

}

section {
    display: flex;
    justify-content: space-between;

}

selection p {
    font-size: 22px;
    color: red;
}


body.dark a {
    color: greenyellow;
}








.catphone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

body {
    background: white;
    color: black;
}

body.dark {
    background: black;
    color: white;
}

#dark-mode-toggle {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.catphone p {
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
}